<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="#">CUTMAP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav  ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="SERVICES">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ABOUT">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="CONTANTUS">CONTANTUS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="LOGIN">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="SIGNIN">SIGNIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>                                                                                                                                   
